{
 firma-analysis.ports.sql.core/url          "jdbc:h2:mem:firma;MODE=PostgreSQL"
 firma-analysis.configs/env                 "test"
 firma-analysis.configs/user-passphrase     "dobry den"
 firma-analysis.configs/admin-passphrase    "dobrou noc"
 }
